@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0.2em;
}

/* the navigation section*/
.header {
  width: 100%;
  height: 90px;
  background-color: rgb(170, 226, 170);
  display: flex;
  flex-direction: row;
}


.logoText {
  font-family: "Sansita Swashed", cursive;
  color: green;
  margin-left: 2em;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav {
  font-family: "Sansita Swashed", cursive;
  font-size: 1.5rem;
  padding: 1em;
  color: orangered;
  opacity: 90%;
  text-decoration: none;
  list-style-type: none;
}

li {
  padding-right: 2em;
}

/* banner Style */
.banner {
  font-family: sans-serif;
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}


.bannerMessage {
font-size: 3rem;
margin-left: 1.5em;
color: blanchedalmond; 

}

.bannerDescription {
color: blanchedalmond;
margin-left: 3.5em;
font-size: 1.5rem;

}

/* the about section*/
.aboutContainer {
  width: 100%;
  height: 200px;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orangered;
}

.aboutTitle {
  font-family: "Sansita Swashed", cursive;
}

/* card section */ 

.cardContainer {
  width: 100vw;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.cardContainerBig {
  display: flex;
  width: 100%;
  top: 400px;
  margin: 0.5em;
}

.cardImage {
  width: 100%;
  height: 40%;
}

.cardImageBig {
  width: 100%;
}

.card {
  width: 15vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(44, 2, 2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 0.5em;
}

@media screen and (min-width: 380px) {
  .card {
    width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 680px) {
  .card {
    width: 100%;
    height: 100%;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.cardBig {
  width: 100%;
  margin: 10px; 
}

.cardTitle {
  font-family: "Sansita Swashed", cursive;
  color: orangered;
  opacity: 90%;
  font-size: 1.5rem;
  text-decoration: none;
}

.cardDesc {
  margin: 1em;
}

h3 {
  font-family: "Sansita Swashed", cursive;
  color: orangered;
  opacity: 90%;
}

.cardTitleBig {
  font-family: "Sansita Swashed", cursive;
  color: orangered;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
}

#linkItem {
  text-decoration: none;
}

.backButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2em 0em 2em 0em;
}

.ingredient, .cardDescBig {
  margin-left: 3em;
  margin-right: 3em;
}

/* the footer section*/
.footer {
  width: 100%;
  height: 120px;
  background-color: rgb(41, 131, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmediaContainer {
  width: 5%;
  display: flex;
  flex-direction: row;
}

.footer li {
  list-style-type: none;
}



button {
  width: 80px;
  height: 36px;
  border: 1px none;
  background: rgb(247, 88, 31);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.copyright {
  color: white;
  width: 20%;
  margin: 0 2em 0 3.5em;
}
